<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("partial/header") %>
  </head>
  <body>
    <%- include("partial/nav") %>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-12">
          <div class="">
            <h2>Doctors Login</h2>
            <form action="/doc/login" method="post">
              <div class="mb-1">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name="email" />
              </div>
              <div class="mb-1">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include("partial/footer") %>
  </body>
</html>
